

.project-portfolio-blob{
    width: 15%;
    top: -4rem;
    z-index: -1;
    left: 0rem;
    transform: rotate(-64deg);
    position: absolute;

    @include res(tab-port){
        top: 1rem;
    }

    @include res(phone){
        width: 45%;
    top: -2rem;
    
    }
 

}




.card {
    perspective: 150rem;
    -moz-perspective: 150rem;
    position: relative;
    margin-bottom: 3rem;
    margin-right: 3rem; 

    height: 25rem;
    width: 17rem;
    background-color: transparent !important;
    display: -ms-flexbox;
    display: inline-block;
    -ms-flex-direction: column;
    
    margin-top: 3rem;
    border: none;

    @include res(phone){
        margin-bottom: 0;
        margin-top: 2rem;
    }


    &__side {
        height: 25rem;
        width: 17rem;
        transition: all .8s ease;
        position: absolute;
        background-size: cover;
        top: 0;
        left: 0;
        backface-visibility: hidden;
        border-radius: 10px;
        overflow: hidden;
        

        @include res(phone){
            height: 22rem;
    width: 15rem;

        }

        &--front-1 {
            background-image: linear-gradient(#8d2de265,
                    #4b00e06b), url("../static/images/ai2.jpg");
 
        }
        &--front-2 {
            background-image: linear-gradient(#8d2de265,
                    #4b00e06b), url(../static/images/dictionary.jpg);
       

        }
        &--front-3 {
            background-image: linear-gradient(#8d2de265,
                    #4b00e06b), url(../static/drum-kit/images/tom1.png);
 
        }
        &--front-4 {
            background-image: linear-gradient(#8d2de265,
                    #4b00e06b), url(../static/images/robot.jpg);
 
        }
        &--front-5 {
            background-image: linear-gradient(#8d2de265,
                    #4b00e06b), url(../static/images/simon-game.jfif);
 
        }

        &--back {
            transform: rotateY(-180deg);

            &-1 {
                background-image: linear-gradient(#8d2de2,
                        #4b00e0);
            }

        
        }

        &-btn {
            width: 7rem;

            text-decoration: none;
            display: inline-block;
            padding: .4rem .6rem;
            border-radius: .03rem;
            font-size: 1.3rem;
            text-align: center;
            font-weight: 300;

            position: absolute;
            bottom:5rem;
            left: 5rem;
            border: 3px solid $secondary-color;
            border-radius: 7px;
            color: white;
            transition: all .2s;

            &> a{
                color: white;

                &:hover{
                    color: rgb(224, 224, 224);
                }
            }

            &:hover{
                transform: scale(1.05);
            }

        }

        &-description{
            color: white;
            margin-bottom: 9rem;
            padding: 2rem 1rem;

        }



    }

    &:hover &__side--front {
        transform: rotateY(180deg);
    }

    &:hover &__side--back {
        transform: rotateY(0deg);
    }



    &__header {

        color: white;
        margin-bottom: 15rem;
        font-size: 1.2rem;
        padding: 2rem;
    }

 
    //call to action
    &__cta {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 90%;
        text-align: center;
    }
}


.mycards{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}