 $c-blue-light:#00b4db;
 $c-blue-dark:#0083b0;

$grid-width: 71rem;
$gutter-vertical: 5rem;
$gutter-vertical-small: 3.75rem;
$gutter-vertical-small-2: 2rem;
$gutter-horizontal: 3.75rem;


$primary-color:#192233;
$secondary-color:#00a2e2;
$tertiary-color:#dc47aa;


$text-color : white;

 
