{%extends"base.html" %}
{%block content%}


<main class="main">




    <!-- <section class="section-about-blobs">



        <img src="./static/blob-blue.png" class="section-about__blob-blue" alt="blob">
    </section> -->


    <section class="section-about">
        <div class="about">


            <div class="about_profile-row">
                <div class="about__profile">
                    <img class="about__profile--img" src="../static/pic_clipped.png" alt="Profile pics">


                    <h3 class="section-header  about__profile-header">Profile</h3>
                    <img src="../static/blob-pink.png" class="about__profile-blob" alt="blob">
                    <div class="about__profile--text">

                        <p>Self-motivated university student with a record of academic and extracurricular success
                            studying
                            Bcom
                            Financial
                            Accounting and critical experience in technology.</p>
                        <p>
                            Equipped, through hands-on experience, with technical accounting and
                            software development skills and a practical understanding of how to
                            apply these skills in business.

                        </p>
                    </div>
                </div>
            </div>



            <div class="about__coding">




                <div class="about__coding--text">
                    <h3 class="section-header" data-aos="fade-right" data-aos-easing="ease-out-back"
                        data-aos-delay="300">Coding</h3>
                    <img src="../static/blob-blue.png" data-aos="fade-right" class="about__coding-blob" alt="blob">

                    <div data-aos="zoom-in" data-aos-delay="400" class="about__coding--text-description">
                        <p>List of skills </p>
                        <ul>
                            <li>Machine learning and Data sciences(Supervised, unsupervised and deep learning)</li>
                            <li>Data visualisation (using matplotlib, pandas, seaborn)</li>
                            <li>SQL</li>
                            <li>Web development(React, Node, Flask, Express) </li>
                            <!-- <li></li> -->
                            <li>Mobile App development(Flutter)</li>

                            <!-- <li>Automation</li> -->
                            <!-- <li>web scraping</li> -->
                        </ul>
                        <p></p>
                    </div>
                </div>


                <!-- about coding technologies list -->


                <div class="about__coding-items">



                    <div class="about__coding-row-ml">
                        <div class="about__coding-ml" data-aos-easing="ease-out-back" data-aos="fade-down-left">

                            <h3 class="about__coding-stack-header">Machine learning</h3>
                            <div class="about__coding-stack">


                                <div class="about__coding-item">
                                    <img src="../static/skills-icons/py-icon.png" alt="icon"
                                        class="about__coding-item-img">
                                    <div class="about__coding-item-header">Python</div>
                                </div>

                                <div class="about__coding-item">
                                    <img src="../static/skills-icons/tf-icon.png" alt="icon"
                                        class="about__coding-item-img">
                                    <div class="about__coding-item-header">Tensorflow</div>
                                </div>

                                <div class="about__coding-item">
                                    <img src="../static/skills-icons/keras-icon.png" alt="icon"
                                        class="about__coding-item-img">
                                    <div class="about__coding-item-header">Keras </div>
                                </div>

                                <div class="about__coding-item">
                                    <img src="../static/skills-icons/sklearn-icon.png" alt="icon"
                                        class="about__coding-item-img">
                                    <div class="about__coding-item-header">Sci-learn</div>
                                </div>
                            </div>

                            <div class="about__coding-ml-bars">

                                <p class="about__coding-bars-text">
                                    Progressing...
                                </p>
                                <div class="about__coding-ml-bars--indicator about__coding-bars-indicator">

                                </div>


                                <div class="about__coding-ml-bars--top-bar"></div>
                                <div class="about__coding-ml-bars--bottom-bar  about__coding-bars-bottom"></div>
                            </div>

                        </div>

                        <img class="about__coding-ml-arrow" src="/static/purple-arrow.png" alt="pink arrow">
                    </div>




                    <div class="about__coding-row-web" id="web-dev">
                        <div class="about__coding-web" data-aos="fade-down-right">

                            <h3 class="about__coding-stack-header">Web development</h3>

                            <div class="about__coding-stack">

                                <div class="about__coding-item">
                                    <img src="../static/skills-icons/flask-icon.png" alt="icon"
                                        class="about__coding-item-img">
                                    <div class="about__coding-item-header">Flask</div>
                                </div>

                                <div class="about__coding-item">
                                    <img src="../static/skills-icons/css-icon.png" alt="icon"
                                        class="about__coding-item-img">
                                    <div class="about__coding-item-header">CSS</div>
                                </div>

                                <div class="about__coding-item">
                                    <img src="../static/skills-icons/html-icon.png" alt="icon"
                                        class="about__coding-item-img">
                                    <div class="about__coding-item-header">HTML</div>
                                </div>

                                <div class="about__coding-item">
                                    <img src="../static/skills-icons/js-icon.png" alt="icon"
                                        class="about__coding-item-img">
                                    <div class="about__coding-item-header">Javascript</div>
                                </div>

                                <div class="about__coding-item">
                                    <img src="../static/skills-icons/bs4-icon.png" alt="icon"
                                        class="about__coding-item-img">
                                    <div class="about__coding-item-header">Bootstrap 4</div>
                                </div>


                            </div>


                            <div class="about__coding-web-bars">
                                <p class="about__coding-bars-text">
                                    Progressing...
                                </p>
                                <div class="about__coding-web-bars--indicator  about__coding-bars-indicator">

                                </div>
                                <!-- <img src="../static/flashing_text/flash-pink.png" alt="" class="about__coding-ml-bars--flashing">   -->
                                <div class="about__coding-web-bars--top-bar"></div>
                                <div class="about__coding-web-bars--bottom-bar  about__coding-bars-bottom"></div>
                            </div>

                            <a href="#web-popup">

                                <div class="about__coding-clickable-web  about__coding-clickable "
                                    data-aos-anchor-placement="top-center" data-aos="fade-down">
                                    <div class="about__coding-clickable--bar about__coding-clickable-web--bar">

                                    </div>
                                    <div class="about__coding-clickable--circle about__coding-clickable-web--circle">

                                    </div>
                                    <p class="about__coding-clickable--text about__coding-clickable-web--text">
                                        click me
                                    </p>
                                    <!-- <img src="../static/flashing_text/flash_short.png" data-aos-anchor-placement="top-center" data-aos="zoom-in" alt="flashing text" class="about__coding-clickable--img"> -->

                                </div>
                            </a>





                        </div>


                        <img class="about__coding-web-arrow" src="/static/pink-arrow.png" alt="pink arrow">
                    </div>





                    <div class="about__coding-row-mobile" id="mobile-dev">

                        <div class="about__coding-mobile" data-aos="fade-down-left">
                            <h3 class="about__coding-stack-header">Mobile App development</h3>
                            <div class="about__coding-stack">

                                <div class="about__coding-item">
                                    <img src="../static/skills-icons/dart-icon.png" alt="icon"
                                        class="about__coding-item-img">
                                    <div class="about__coding-item-header">Dart</div>
                                </div>

                                <div class="about__coding-item">
                                    <img src="../static/skills-icons/flutter-icon.png" alt="icon"
                                        class="about__coding-item-img">
                                    <div class="about__coding-item-header">Flutter</div>
                                </div>

                            </div>

                            <div class="about__coding-mobile-bars">

                                <p class="about__coding-bars-text">
                                    Progressing...
                                </p>
                                <div class="about__coding-mobile-bars--indicator  about__coding-bars-indicator">

                                </div>
                                <div class="about__coding-mobile-bars--top-bar"></div>
                                <div class="about__coding-mobile-bars--bottom-bar  about__coding-bars-bottom"></div>
                            </div>


                            <div data-aos-anchor-placement="top-center" data-aos="fade-down">

                                <a href="#mobile-popup">
                                    <div class="about__coding-clickable about__coding-clickable-mobile">


                                        <div class="about__coding-clickable--bar about__coding-clickable-mobile--bar">

                                        </div>
                                        <div
                                            class="about__coding-clickable--circle about__coding-clickable-mobile--circle">

                                        </div>
                                        <p
                                            class="about__coding-clickable--text about__coding-clickable-mobile--text   ">
                                            click me
                                        </p>
                                        <!-- <img src="../static/flashing_text/flash_short.png" data-aos-anchor-placement="top-center" data-aos="zoom-in" alt="flashing text" class="about__coding-clickable--img"> -->

                                    </div>

                                </a>




                            </div>


                        </div>
                        <img class="about__coding-mobile-arrow" src="/static/purple-arrow.png" alt="pink arrow">
                    </div>


                    <div class="about__coding-row-other">
                        <div class="about__coding-other" data-aos="fade-down-right">
                            <h3 class="about__coding-stack-header">Other technologies</h3>

                            <div class="about__coding-stack">


                                <div class="about__coding-item">
                                    <img src="../static/skills-icons/java-icon.png" alt="icon"
                                        class="about__coding-item-img">
                                    <div class="about__coding-item-header">Java</div>
                                </div>

                                <div class="about__coding-item">
                                    <img src="../static/skills-icons/node-icon.png" alt="icon"
                                        class="about__coding-item-img">
                                    <div class="about__coding-item-header">Node</div>
                                </div>

                                <div class="about__coding-item">
                                    <img src="../static/skills-icons/github-icon.png" alt="icon"
                                        class="about__coding-item-img">
                                    <div class="about__coding-item-header">Github</div>
                                </div>


                            </div>

                            <div class="about__coding-other-bars">
                                <p class="about__coding-bars-text">
                                    Progressing...
                                </p>
                                <div class="about__coding-other-bars--indicator  about__coding-bars-indicator">

                                </div>
                                <div class="about__coding-other-bars--top-bar"></div>
                                <div class="about__coding-other-bars--bottom-bar  about__coding-bars-bottom"></div>
                            </div>

                        </div>




                    </div>












                </div>

            </div>
        </div>
    </section>

    <!-- popup section -->

    <section class="section-popup">

        <div class="web-popup" id="web-popup">

            <a href="#web-dev" class="web-popup__close">×</a>
            <div class="web-popup__content">

                <div class="web-popup__item  web-popup__item--1">
                    <!-- <h3  class="  web-popup__item--1-header">Natours</h3>
<br>
<p class="  web-popup__item--1-text">EXCITING TOURS FOR ADVENTUROUS PEOPLE</p> -->


                    <div class="card  web-popup__card" style="width: 15rem; color: white;">
                        <img class="card-img-top  web-popup__card-img"
                            src="../static/website_portfolio/natours/img/hero-small.jpg" alt="Card image cap">
                        <div class="card-body  web-popup__card-body">
                            <h4 class="card-title">Natours</h4>
                            <p class="card-text ">Outdoors is where it happens</p>
                            <a style="background-color: #00a2e2; border:none" href="{{url_for("core_app.natours")}}"
                                class="btn btn-primary">Explore</a>
                        </div>
                    </div>


                </div>

                <div class="web-popup__item web-popup__item--2  web-popup__card">
                    <div class="card" style="width: 15rem; color: white; ">
                        <img class="card-img-top  web-popup__card-img"
                            src="../static/website_portfolio/trillo/img/hotel-1.jpg" alt="Card image cap">
                        <div class="card-body web-popup__card-body">
                            <h4 class="card-title">Trillo</h4>
                            <p class="card-text">Greatest hotel in the world.</p>
                            <a style="background-color:#00a2e2; border:none" href="{{url_for("core_app.trillo")}}"
                                class="btn btn-primary">Explore</a>
                        </div>
                    </div>

                </div>

            </div>

            <script>
                document.querySelector("#web-popup").addEventListener("click", function () {
                    window.location.href = "#web-dev";
                })
            </script>
        </div>






        <div class="web-popup" id="mobile-popup">

            <a href="#mobile-dev" class="web-popup__close">×</a>
            <div class="web-popup__content">

                <div class="web-popup__item  web-popup__item--1">


                    <div class="card  web-popup__card" style="width: 15rem; color:white;">
                        <img class="card-img-top  web-popup__card-img" src="../static/images/reflectly_image.jfif"
                            alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Reflectly clone </h5>
                            <p class="card-text">A clone of the most popular journaling app.<a href="https://github.com/takuonline/reflectly-clone">(Github link)</a> </p>
                            <p class="card-text">Built using flutter annd Dart</p>
                            <a href="https://drive.google.com/file/d/1jSRlQ7LllQqWHxW7HncON8rXFQnORE_9/view?usp=sharing"
                                style="background-color:#dc47aa; border:none" class="btn btn-primary">Explore</a>
                        </div>
                    </div>

                </div>

                <div class="web-popup__item web-popup__item--2  web-popup__card">
                    <div class="card" style="width: 15rem; color:white;">
                        <img class="card-img-top  web-popup__card-img" src="../static/images/shop_app_image.png"
                            alt="Card image cap">
                        <div class="card-body  web-popup__card-body">
                            <h5 class="card-title">Mobile shop app</h5>
                            <p class="card-text">Mobile app store built using flutter and dart. <a href="https://github.com/takuonline/e-commerce-version-2">(Github link)</a> </p>
                            <a href="https://drive.google.com/file/d/1yqHgv1npE6qb1M1oEJVKGXIjmJ3LrkWC/view?usp=sharing"
                                class="btn btn-primary" style="background-color:#dc47aa; border:none">Explore</a>
                        </div>
                    </div>

                </div>

            </div>

            <script>
                document.querySelector("#mobile-popup").addEventListener("click", function () {
                    window.location.href = "#mobile-dev";
                })
            </script>
        </div>










    </section>




    <!-- section designs  -->

    <section class="section-designs">


        <div class="design">

            <!-- <div> <img class="about__design--img" src="../static/images/deer.jpg" alt="About section designs"></div> -->
            <div class="design-text">
                <div class="section-header" data-aos-delay="200" data-aos-easing="ease-out-back" data-aos="fade-left">
                    Designing</div>
                <img src="../static/blob-pink.png" data-aos="fade-left" class="design-blob" alt="blob">

                <div class="design-text__description" data-aos="zoom-in" data-aos-delay="700">
                    <p>Besides coding l also love graphics designing works and motion graphics. For this l use the
                        following
                        software:
                    </p>
                    <ul>
                        <li>Adobe Photoshop</li>
                        <li>Illustrator</li>
                        <li>After effects</li>
                        <li>And PowerPoint</li>
                    </ul>
                </div>



            </div>



        </div>



        <!-- make sure all the disigns in a grid gallery are connected in the middle -->

        <!-- there must be separated by a grip gap  -->
        <div class="designs">
            <figure class="designs__img designs__img--1" data-aos="fade-up">
                <img src="../static/Adobe_pics/cute.png" class="designs__img-size" alt="Image 1">

            </figure>

            <figure class="designs__img designs__img--2" data-aos="fade-left" data-aos-delay="500">
                <img src="../static/Adobe_pics/splash.png" class="designs__img-size" alt="Image 2">

            </figure>

            <figure class="designs__img designs__img--3" data-aos="fade-right">
                <img src="../static/Adobe_pics/glitch.png" alt="Image 3" class="designs__img-size">
            </figure>

            <figure class="designs__img designs__img--4" data-aos="fade-down" data-aos-delay="400">
                <img src="../static/Adobe_pics/grow.png" alt="Image 2" class="designs__img-size">

            </figure>

            <figure class="designs__img designs__img--5" data-aos="fade-up" data-aos-delay="300">
                <img src="../static/Adobe_pics/splash2.png" alt="Image 5" class="designs__img-size">

            </figure>


        </div>


        <!-- <div class="designs">
           
            <img src="../static/Adobe_pics/splash.png" alt="Image 4" class="designs__img designs__img--2">
            <img src="../static/Adobe_pics/glitch.png" alt="Image 3" class="designs__img designs__img--3">
            <img src="../static/Adobe_pics/grow.png" alt="Image 2" class="designs__img designs__img--4">
            <img src="../static/Adobe_pics/splash2.png" alt="Image 5" class="designs__img designs__img--5">
        </div> -->











    </section>







</main>

{%endblock%}