{%extends"base.html" %}
{%block content%}
<div class="contact-page">


  <div class="contact-container">
    <h1 class="section-header">Contact</h1>
     
    
  
     
    <br>
    <h3 class="contact__text">You can contact me on the following channels.</h3>
    <br>
    
    <br>
    
<div class="contact">
    

   
      <div class="contact__item ">
        <a href="https://www.facebook.com/takudzwa.makusha.3"> <img src="static/contact_images/fb.png" alt=""> </a>
      </div>
      <div class="contact__item ">
        <a href="https://www.instagram.com/takuonline3/"> <img src="static/contact_images/insta.png" alt=""> </a>
      </div>
    


      <div class="contact__item ">
        <a href="whatsapp://send?text=Hello, l just visited your site!&phone=+27676522180"> <img src="static/contact_images/whatsapp.png"
            alt=""> </a>
      </div>
      <div class="contact__item ">
        <a href="https://twitter.com/takuonline"> <img src="static/contact_images/twitter.png" alt=""> </a>
      </div>
  
    </div>
 


 

</div>
<div class="contact-footer">
  <div class="contact-footer__text">
    <a href="https://www.freepik.com/free-photos-vectors/logo">Logo vector created by freepik - www.freepik.com</a>
    <p>Email me at: tbmakusha@gmail.com</p>
  </div>
</div>


{%endblock%}